.MuiDialog-root {
  .MuiDialog-paper {
    min-width: calc(18vw + 300px);
    .MuiTypography-h6 {
      display: flex;
      justify-content: space-between;
      .icon {
        -webkit-transition: -webkit-transform .25s ease-in-out;
        transition: transform .25s ease-in-out;
      }
      .icon:hover {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
      }
    }
    .MuiDialogContent-root {
      .MuiExpansionPanel-root {
        .MuiExpansionPanelSummary-content {
          display: flex;
          .field {
            flex: 2;
          }
          .field-value {
            flex: 3;
          }
        }
        .MuiCollapse-wrapperInner {
          .MuiExpansionPanelDetails-root {
            .form {
              position: relative;
              width: 100%;
              .form-conatiner {
                width: 100%;
                position: relative;
                display: flex;
                justify-content: space-around;
                align-items: center;
                .text-field {
                  .MuiFormLabel-root, .MuiInputBase-root {
                    color: black;
                  }
                  .MuiOutlinedInput-notchedOutline {
                    border-color: black;
                  }
                }
              }
            }
          }
        }
      }
      .buttons-container {
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding-top: 18px;
        padding-bottom: 12px;
        @media only screen and (max-width: 820px) {
          flex-direction: column;
          align-items: center;
        }
        .MuiButton-root {
          width: 45%;
          @media only screen and (max-width: 820px) {
            width: 90%;
            margin: 8px 0;
          }
        }
      }
    }
    .logout-button-container {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 12px 0;
      font-size: 1.05rem;
      @media only screen and (max-width: 820px) {
        padding: initial;
      }
      .MuiButton-root {
        width: 50%;
        @media only screen and (max-width: 820px) {
          width: 90%;
        }
      }
    }
    .MuiDialogActions-root {
      .submit-button {
        margin: 0 18px 6px 18px;
      }
    }
  }
  
}