// React Toastify Stylesheet
@import '~react-toastify/dist/ReactToastify.css';

* {
  box-sizing: border-box;
}
html {
  font-size: 100%;
  body {
    margin: 0;
    font-size: 100%;
    .fab {
      position: fixed;
      bottom: 20px;
      left: 20px;
      .main-fab {
        position: absolute !important;
        bottom: -0.5rem;
        left: -0.5rem;
        transition: all 0.3s ease;
      }
      .fab-wheel {
        position: absolute;
        bottom: 0;
        right: 0;
        transition: all 0.3s ease;
        transform-origin: bottom left;
        transform: scale(0);
        &.open {
          transform: scale(1);
          .fab-action {
            opacity: 1;
          }
        }
        &.signed-in {
          .fab-action-1 {
            bottom: 4rem;
            left: -0.5rem;
          }
          .fab-action-2 {
            bottom: 3rem;
            left: 3rem;
          }
          .fab-action-3 {
            bottom: 0;
            left: 5rem;
          }
        }
        .fab-action {
          position: absolute !important;
          transition: all 1s ease;
          opacity: 0;
        }
        .fab-action-1 {
          bottom: 3rem;
          left: 1rem;
        }
        .fab-action-2 {
          bottom: 1rem;
          left: 4rem;
        }
      }
    }
    .animation-container {
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-content: center;
      background-color: #4F4F4F;
      .animation {
        width: 35%;
      }
    }
    .en {
      font-family: 'Rajdhani', sans-serif;
    }
    .ar {
      font-family: 'Amiri', serif;
    }
  }
}