// React Toastify Stylesheet
@import '~react-toastify/dist/ReactToastify.css';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  .nav {
    display: flex;
    justify-content: space-between;
    -webkit-box-shadow: 1.8px 3px 8px -5px rgba(0,0,0,0.74);
    -moz-box-shadow: 1.8px 3px 8px -5px rgba(0,0,0,0.74);
    box-shadow: 1.8px 3px 8px -5px rgba(0,0,0,0.74);
    .nav-content {
      position: relative;
      padding: 25px 12px 18px;
      display: flex;
      .nav-item {
        padding: 0 10px;
        a {
          text-decoration: none;
        }
      }
    }
    .language-switch {
      padding: 16px 12px 13px;
    }
  }
  .container {
    display: flex;
    height: 90vh;
    width: 100vw;
  }
}