// React Toastify Stylesheet
@import '~react-toastify/dist/ReactToastify.css';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  .container {
    display: flex;
    height: 100vh;
    width: 100vw;
  }
  .en {
    font-family: 'Rajdhani', sans-serif;
  }
  .ar {
    font-family: 'Amiri', serif;
  }
}