.leaderboard-content {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: initial;
  justify-content: initial;
  flex-direction: column;
  padding-top: 18px;
  .table-container {
    padding: 20px 28px;
    table {
      .MuiTableCell-head {
        font-size: 1rem !important;
      }
      .MuiTableCell-body {
        font-size: 0.9rem !important;
      } 
      .current-user-row {
        background-color: rgba(254, 227, 193, 0.6);
        
      }
    }
  }
}