.player-content {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .your-points-container {
    display: flex;
    position: absolute;
    top: 15px;
    left: 10px;
    @media only screen and (max-width: 768px) {
      position: relative;
      padding-bottom: 15px;
    }
    .your-points {
      padding: 4px 15px;
    }
    .points {
      background-color: rgba(254, 227, 193, 0.7);
      border-radius: 4px;
      padding: 4px 24px;
    }
  }
  .warning {
    font-size: 24px;
    padding: 32px 24px;
  }
  .reset-button:hover {
    -webkit-animation:spin 0.5s linear;
    -moz-animation:spin 0.5s linear;
    animation:spin 0.5s linear;
  }
  .slider-container {
    width: 30%;
    padding: 30px 0;
    @media only screen and (max-width: 768px) {
      width: 45%;
    }
  }
  .buttons-container {
    .buttons-row {
      display: flex;
      align-items: center;
      @media only screen and (max-width: 768px) {
        flex-direction: column;
      }
      .button {
        min-width: 9rem;
        margin: 10px 15px;
        font-size: 16px;
      }
    }
  }
  .after-play {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .on-animation-container {
      width: 30vw;
      @media only screen and (max-width: 768px) {
        width: 45vw;
      }
    }
    .button {
      margin: 24px 0;
    }
  }
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
